# {{ ansible_managed }}

[DEFAULT]
debug = {{ debug }}
use_journal = true

{% if 'metadata' in neutron_ovn_agent_extensions %}
metadata_workers = {{ neutron_metadata_workers | default(neutron_api_threads) }}

# Nova metadata service IP and port
nova_metadata_host = {{ internal_lb_vip_address }}

# Metadata proxy shared secret
metadata_proxy_shared_secret = {{ nova_metadata_proxy_secret }}

# Protocol to access nova metadata, http or https
nova_metadata_protocol = {{ neutron_nova_metadata_protocol }}
{% endif %}

[agent]
extensions = {{ neutron_ovn_agent_extensions | join(',') }}
root_helper = sudo {{ neutron_bin }}/neutron-rootwrap {{ neutron_conf_dir }}/rootwrap.conf
root_helper_daemon = sudo {{ neutron_bin }}/neutron-rootwrap-daemon {{ neutron_conf_dir }}/rootwrap.conf

[ovs]
ovsdb_connection = {{ neutron_ovsdb_manager_connection }}
