# {{ openstack_ansible_managed | default('OpenStack-Ansible Managed') }}

[global]
MetadataAddr = {{ internal_lb_vip_address }}
EtcdEndpoints = http://127.0.0.1:2379
DatastoreType = etcdv3

[log]
LogFilePath = none
LogSeverityScreen = Fatal
