# {{ ansible_managed }}

[DEFAULT]
debug = {{ debug }}
use_journal = true

# Nova metadata service IP and port
nova_metadata_host = {{ internal_lb_vip_address }}

# Metadata proxy shared secret
metadata_proxy_shared_secret = {{ nova_metadata_proxy_secret }}

# Protocol to access nova metadata, http or https
nova_metadata_protocol = {{ neutron_nova_metadata_protocol }}

[ovs]
ovsdb_connection = {{ neutron_ovsdb_manager_connection }}
ovsdb_connection_timeout = 180
